Package: arrowhead-choreographer
Version: [[version]]
Section: contrib/java
Priority: optional
Architecture: all
Maintainer: Rajmund Bocsi <rbocsi@aitia.ai>
Homepage: http://www.arrowhead.eu
Description: Arrowhead Choreographer System
Distribution: development
Depends: java-runtime-headless, virtual-mysql-server, arrowhead-core-common
