Package: arrowhead-core-common
Version: [[version]]
Section: contrib/java
Priority: optional
Architecture: all
Maintainer: Svetlin Tanyi <szvetlin@aitia.ai>
Homepage: http://www.arrowhead.eu
Description: Arrowhead Common
Distribution: development
Depends: java-runtime-headless, openssl, dos2unix, debconf
