[Unit]
Description=arrowhead-gatekeeper
After=network.target mysql.target

[Service]
WorkingDirectory=/etc/arrowhead/systems/gatekeeper
ExecStart=/usr/bin/java -Dlog4j.configurationFile=file:/etc/arrowhead/systems/gatekeeper/log4j2.xml -jar /usr/share/arrowhead/gatekeeper/arrowhead-gatekeeper.jar 
TimeoutStopSec=5
Restart=on-failure
RestartSec=20s
Type=simple
User=arrowhead
Group=arrowhead

[Install]
WantedBy=default.target
