<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">
			%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
		</Property>
		<Property name="SYSTEM_NAME">CERTIFICATEAUTHORITY</Property>
		<Property name="JDBC_LEVEL">INFO</Property>
		<Property name="CONSOLE_FILE_LEVEL">INFO</Property>
		<Property name="LOG_DIR">.</Property>
	</Properties>
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}"/>
 			<ThresholdFilter level="${CONSOLE_FILE_LEVEL}" onMatch="ACCEPT" onMismatch="DENY"/>
		</Console>
		<RollingFile name="FileAppender" fileName="${LOG_DIR}/certificateauthority.log" filePattern="${LOG_DIR}/certificateauthority-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<Pattern>${LOG_PATTERN}</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="100MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
			<ThresholdFilter level="${CONSOLE_FILE_LEVEL}" onMatch="ACCEPT" onMismatch="DENY"/>
		</RollingFile>
		<JDBC name="MySQLDatabase" tableName="logs">
			<ConnectionFactory class="eu.arrowhead.common.log4j2.JDBCConnectionFactoryForLog4J2" method="getConnection" />
			<Column name="log_id" pattern="%u" />
			<Column name="entry_date" isEventTimestamp="true" />
			<Column name="logger" pattern="%logger" />
         	<Column name="system_name" literal="'${SYSTEM_NAME}'" />
			<Column name="log_level" pattern="%level" />
			<Column name="message" pattern="%m" />
			<Column name="exception" pattern="%throwable" />
			<ThresholdFilter level="${JDBC_LEVEL}" onMatch="ACCEPT" onMismatch="DENY"/>
		</JDBC>
	</Appenders>
	<Loggers>
		<Root level="WARN">
            <AppenderRef ref="ConsoleAppender" /> <!-- comment out this one in production environment -->
            <AppenderRef ref="FileAppender" />
        </Root>
 		<AsyncLogger name="eu.arrowhead" level="ALL" additivity="true">
            <AppenderRef ref="MySQLDatabase"  />			
    	</AsyncLogger>
		<Logger name="eu.arrowhead.core" level="ALL" additivity="true"></Logger>		
		<Logger name="eu.arrowhead.common" level="ALL" additivity="true"></Logger>
 		<AsyncLogger name="org" level="WARN" additivity="true">
            <AppenderRef ref="MySQLDatabase"  />			
    	</AsyncLogger>
 		<AsyncLogger name="com" level="WARN" additivity="true">
            <AppenderRef ref="MySQLDatabase"  />			
    	</AsyncLogger>
	</Loggers>
</Configuration>
