[Unit]
Description=arrowhead-onboarding
After=network.target

[Service]
WorkingDirectory=/etc/arrowhead/systems/onboardingcontroller
ExecStart=/usr/bin/java -Dlog4j.configurationFile=file:/etc/arrowhead/systems/onboardingcontroller/log4j2.xml -jar /usr/share/arrowhead/onboardingcontroller/arrowhead-onboarding.jar
ExecStartPost=/bin/bash -c 'sleep 10'
TimeoutStopSec=5
Restart=on-failure
RestartSec=20s
Type=simple
User=arrowhead
Group=arrowhead

[Install]
WantedBy=default.target
