Package: arrowhead-gams
Version: [[version]]
Section: contrib/java
Priority: optional
Architecture: all
Maintainer: Mario Zsilak <mario.zsilak@forschung-burgenland.at>
Homepage: http://www.arrowhead.eu
Description: Arrowhead GAMS
Distribution: development
Depends: java-runtime-headless, openssl, virtual-mysql-server, arrowhead-core-common
