[Unit]
Description=arrowhead-event-handler
After=network.target mysql.target

[Service]
WorkingDirectory=/etc/arrowhead/systems/eventhandler
ExecStart=/usr/bin/java -Dlog4j.configurationFile=file:/etc/arrowhead/systems/eventhandler/log4j2.xml -jar /usr/share/arrowhead/eventhandler/arrowhead-eventhandler.jar 
TimeoutStopSec=5
Restart=on-failure
RestartSec=20s
Type=simple
User=arrowhead
Group=arrowhead

[Install]
WantedBy=default.target
