[Unit]
Description=mscv
After=network.target

[Service]
WorkingDirectory=/etc/arrowhead/systems/mscv
ExecStart=/usr/bin/java -Dlog4j.configurationFile=file:/etc/arrowhead/systems/mscv/log4j2.xml -jar /usr/share/arrowhead/mscv/arrowhead-mscv.jar
ExecStartPost=/bin/bash -c 'sleep 10'
TimeoutStopSec=5
Type=simple
User=arrowhead
Group=arrowhead

[Install]
WantedBy=default.target
