[Unit]
Description=arrowhead-datamanager
After=network.target mysql.target

[Service]
WorkingDirectory=/etc/arrowhead/systems/datamanager
ExecStart=/usr/bin/java -Dlog4j.configurationFile=file:/etc/arrowhead/systems/datamanager/log4j2.xml -jar /usr/share/arrowhead/datamanager/arrowhead-datamanager.jar
TimeoutStopSec=5
Type=simple
User=arrowhead
Group=arrowhead

[Install]
WantedBy=default.target
