[Unit]
Description=arrowhead-serviceregistry
After=network.target mysql.target

[Service]
WorkingDirectory=/etc/arrowhead/systems/service_registry
ExecStart=/usr/bin/java -Dlog4j.configurationFile=file:/etc/arrowhead/systems/service_registry/log4j2.xml -jar /usr/share/arrowhead/service_registry/arrowhead-serviceregistry.jar 
ExecStartPost=/bin/bash -c 'sleep 10'
TimeoutStopSec=5
Restart=on-failure
RestartSec=20s
Type=simple
User=arrowhead
Group=arrowhead

[Install]
WantedBy=default.target
