[Unit]
Description=arrowhead-choreographer
After=network.target mysql.target

[Service]
WorkingDirectory=/etc/arrowhead/systems/choreographer
ExecStart=/usr/bin/java -Dlog4j.configurationFile=file:/etc/arrowhead/systems/choreographer/log4j2.xml -jar /usr/share/arrowhead/choreographer/arrowhead-choreographer.jar 
TimeoutStopSec=5
Restart=on-failure
RestartSec=20s
Type=simple
User=arrowhead
Group=arrowhead

[Install]
WantedBy=default.target
