Package: arrowhead-plant-description-engine
Version: [[version]]
Section: contrib/java
Priority: optional
Architecture: all
Maintainer: Nicklas Nyström <nicklas.nystrom@xarepo.com>
Homepage: http://www.arrowhead.eu
Description: Arrowhead Plant Description Engine
Distribution: development
Depends: java-runtime-headless, openssl, virtual-mysql-server, arrowhead-core-common
